body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #272727;
    padding: 0 40px;
    text-align: center;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

p {
    font-size: 2em;
    color: #EAE8FF;
    margin-right: 20px;
}

button {
    border-radius: 5px;
    height: 50px;
    width: 175px;
}

button:hover {
    background-color: antiquewhite;
}
